body{
    background-image: url(/img/background.jpg);
    
}

@font-face{
    font-family:pink and brown;
        src: url('/Fonts/Pink_and_Brown-Regular.otf');
}

.text01{
    text-align: center;
    padding-top: px;
    float: center;
    align-self: center;
    font-family: "pink and brown";

    
    
}


.text02{
    text-align: center;
    float: center;
    align-self: center;
    font-family: "pink and brown";
   
  
    
    
}

.text03{
    text-align: center;
    float: center;
    align-self: center;
    font-family: "pink and brown";
    position: absolute;
    align-content: center;
    padding-left: 100px;
    
    
   
}

.text04{
    text-align: center;
    float: center;
    align-self: center;
    font-family: "pink and brown";
    transform: rotate(0deg);
  
   
}

.font-size{
    font-size: 100px;
    width: 100;
    animation: fadeIn ease 6s;
-webkit-animation: fadeIn ease 6s;
  
    
}

.container{
    align-content: center;
    
}

.body{
   position: relative;
}

.letter{
    align-content: center;
    padding-left: 95px;
    padding-right: 5px;
    padding-top: 10px;
    height: 700px
}

.Words{
    position: absolute;
    align-content: center;
    padding-bottom: 13px;
}

